label {
    margin-left: 10px;
    font-weight: normal;
}

.phone-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.phone-input input {
    flex: 1;
    margin-right: 8px;
}

@media (max-width: 576px) {
    .button-contaner {
        display: block !important;
        margin-bottom: 16px;
    }
}

.button-contaner {
    display: flex;
    margin-top: 10px;
    align-items: center;
    /* Centers vertically */
    justify-content: center;
    /* Centers horizontally (optional) */
    height: 100%;
    /* Full viewport height */
}