<div [ngClass]="{ 'overlay-mode': isOverlayMode, 'full-page-mode': !isOverlayMode }">
  <div class="location-details-menu">
    <div class="header">
      <div>
        <h1>{{ location.Title }}</h1>
        <div class="d-flex">
          <div class="stars" [style.--rating]="4.4">★★★★★</div>
          <p>(4.4)</p>
        </div>
        <p>{{ location.Type.Name }}</p>
      </div>
      <a (click)="closeMenu()" class="close-button">&times;</a>
    </div>
    <div class="content">
      <div class="image">
        <!-- <img [src]="location.imageUrl" alt="{{ location.Title }}"> -->
      </div>
      <div class="details">
        <p><i class="fa-solid fa-quote-left icon-color"></i> {{location.Description }}</p>
        <p><i class="fa-solid fa-location-dot icon-color"></i> {{ computedAddress()}}</p>
        <!-- <p><strong>Rating:</strong> {{ location.rating }} ★</p> -->
        <div *ngIf="location.Phones">
          <hr>
          <p>Telefones</p>
          <div *ngFor="let phone of location.Phones">
            <app-phone [phone]="phone"></app-phone>
          </div>
        </div>
        <div *ngIf="location.URL">
          <hr>
          <p><i class="fa-solid fa-link icon-color"></i> <a [href]="location.URL" target="_blank"> {{ location.URL
              }}</a>
          </p>
        </div>

      </div>
      <hr>
    </div>
    <div class="map-box">
      <app-map *ngIf="location.Title" [focusPoint]="location.Address" [points]="[location]" [smallSize]="true"
        [mapId]="'map_'+location.Id"></app-map>
    </div>
    <app-slider [value]="9">Segurança:</app-slider>

    <div class="actions">
      <a (click)="edit()" class="btn btn-outline-info"><i class="fa-solid fa-pencil"></i>
        Editar</a>
    </div>
  </div>
</div>