<div [ngClass]="{ 'overlay-mode': isOverlayMode, 'full-page-mode': !isOverlayMode }">
  <div class="location-details-menu">
    <div class="header">
      <div>
        <h1>{{ location.Title }}</h1>
        <div class="d-flex">
          <div class="stars" [style.--rating]="metrics.Estrelas">★★★★★</div>
          <p>({{metrics.Estrelas}})</p>
        </div>
        <p>{{ location.Type.Name }}</p>
      </div>
      <div class="row">
        <div class="col-6"><a (click)="edit()" class="button edit"><i class="fa-solid fa-pencil"></i></a></div>
        <div class="col-6"><a (click)="closeMenu()" class="button close">&times;</a></div>
      </div>
    </div>
    <div class="content">
      <div class="image">
        <!-- <img [src]="location.imageUrl" alt="{{ location.Title }}"> -->
      </div>
      <div class="details">
        <p><i class="fa-solid fa-quote-left icon-color"></i> {{location.Description }}</p>
        <p><i class="fa-solid fa-location-dot icon-color"></i> {{ computedAddress()}}</p>
        <div *ngIf="location.Size">
          <p><i class="fa-solid fa-ruler-combined icon-color"></i>
            Total: {{location.Size}}m<sup>2</sup>;
            Frente: {{location.Dimensions.Front ?? '-'}}m;
            Fundo: {{location.Dimensions.Deep ?? '-'}}m
          </p>
        </div>
        <div *ngIf="location.Phones">
          <hr>
          <p>Telefones</p>
          <div *ngFor="let phone of location.Phones">
            <app-phone [phone]="phone"></app-phone>
          </div>
        </div>
        <div *ngIf="location.URL">
          <hr>
          <p><i class="fa-solid fa-link icon-color"></i> <a [href]="location.URL" target="_blank"> {{ location.URL
              }}</a>
          </p>
        </div>

      </div>
      <hr>
    </div>
    <div class="map-box">
      <app-map *ngIf="location.Title" [focusPoint]="location.Address" [points]="[location]" [smallSize]="true"
        [mapId]="'map_'+location.Id"></app-map>
    </div>
    <app-slider [value]="metrics.Seguranca">Segurança</app-slider>
    <app-slider [value]="metrics.Vizinhanca">Vizinhanca</app-slider>
    <app-slider [value]="metrics.Localicao">Localicao</app-slider>
    <app-slider [value]="metrics.CustoBeneficio">Custo Beneficio</app-slider>

    <hr>
    <app-comment-list *ngIf="location.Id" [locationId]="location.Id"></app-comment-list>

  </div>